header {
    background-color: #081C24;
    display: flex;
    justify-content: center;
}
.header-content {
    width: 1000px;
    display: flex;
    align-items: center;
}
.header-content ul {
    display: flex;
    width: 30%;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.link-icon {
    color: #805be7;;
}
.link-text {
    color: #fff;
    font-weight: 600;
    text-decoration-line: none;
}
.link-text:hover {
    text-decoration-line: underline;
}
@media screen and (max-width: 1090px) {
    .header-content {
        margin-left: 20px;
        width: 100%
    }
    .header-content ul {
        width: 80%;
    }
}