.wrap-home {
    display: flex;
    justify-content: center;
}
.home-content {
    width: 1000px;
}
.wrap-slider {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.wrap-slider span {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    color: #555;
}
.wrap-poster {
    position: relative;
}
.poster img {
    margin-bottom: 30px;
    transition: .5s ease;
}
.hover-text {
    display: block;
    position: absolute;
    top: 45%;
    left: 30%;
    opacity: 0;
    transition: .5s ease;
}
.wrap-poster:hover img {
    opacity: 0.5;
}
.wrap-poster:hover .hover-text {
    opacity: 1;
}