.wrap-loading {
    display: flex;
    justify-content: center;
}
.loading-content {
    width: 1000px;
    height: 100vh;
    color: #adb5bd;
    text-align: center
}
.loading-content i {
    margin-top: 100px;
}