.wrap-movies {
    display: flex;
    justify-content: center;
}
.movie-category {
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    color: #555;
}
.movie-content {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.movie {
    display: flex;
    width: 50%;
}
.movie .movie-image {
    width: 30%;
}
.movie .movie-description {
    width: 70%;
}

.movie img {
    width: 100%;
}
