.App {
  background-color: #E1E1E1;
  display: grid;
  height: 100vh;
  grid-template-rows: 111px 1fr;
}

@media screen and (max-width: 1090px) {
  .App {
    grid-template-rows: 70px 1fr;
    height: 100%;
  }
}